doctype html
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title the title
    body
        table(style="width:80%;margin:0 auto")
            tbody
               tr
                  td(style="background:#cd0029;height:38px;width:100%")
               tr
                     br
                     br
                     table(style="width:100%" border="0" cellpadding="5" cellspacing="0")
                        tbody
                           tr
                              td(colspan="5") Hi There! <br/> <br/> #{details[0].username} has invited you to download the OrbMi app! OrbMi is a private voice messaging network between you and your closest friends and family. Users can create geo-fenced locations to receive messages in, and will only receive their messages when they are in these locations. Thus, you can communicate freely with your friends and family knowing that you won't be interrupting them in any way.<br/> Download OrbMi here: <a> www.google.co.in </a> <br/><br/>Thanks <br/><br/>The OrbMi Team
                           tr
                            
 
