doctype html
html
  head
    block title
      title Orb
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//code.jquery.com/jquery-1.9.1.min.js').
    script(src='http://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js')

  body
    block content
        script.
          $(document).ready(function(){
            $('#createForm').validate({
              rules: {
                password:{
                  required:true,
                  rangelength:[6,20]
                },
                confirm_password:{
                   required:true,
                   rangelength:[6,20],
                   equalTo:"#password"
                }
              },
              messages: {
                equalTo:"Password and confirm Password must be same",
              },
              submitHandler: function (form) {
                 form.submit();
              }
            });

          });