extends layout
block title
  title Reset Password
block content
    .col-md-4.col-md-offset-4
       .error 
            p #{error}
        
        form(method="POST",id="createForm", action="/api/v1/resetPassword")
                p
                    input(type='hidden', name='id', value='#{id}')
                p
                    input(type='hidden', name='reset_password_token', value='#{token}')
                p
                    span Password
                    input(type='password',id='password', name='reset_password',class='required')
                P
                    span Confirm Password
                    input(type='password',id='confirm_password', name='reset_confirm_password',class='required')
                p
                    input(type='submit')
